.calendar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-bottom: 1px solid rgba(0, 0, 0, 0.176);
    margin-bottom: 25px;
}

.week {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.176);
    border-radius: 6px;
}

@media (min-width: 768px) {
    .week {
        flex-direction: row;
    }
}


.week-day {
    display: flex;
    flex-direction: column;
    width: 100%;   
    text-align: center;
    flex: 0 0 calc(100% / 7);
}

.week-day {
    border-top: 1px solid;
    border-right: 1px solid;
    border-color: rgba(0, 0, 0, 0.176);
}

.week-day:nth-child(7n+1) {
    border-left: 1px solid;
    border-color: rgba(0, 0, 0, 0.176);
}

.empty {
    background: rgb(248, 249, 250);
}

@media (min-width: 768px) {
    .week-day {
        width: calc(100% / 7);
    }
}

.week-day__title {
    border-bottom: 1px solid rgba(0, 0, 0, 0.176);
    font-weight: bold;
    font-size: 13px;
    padding: 5px 0;
    background: rgb(248, 249, 250);
}

.week-day__events {
    padding: 15px 10px;
}

.week-day__event {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.week-day__event:not(:last-child) {
    margin-bottom: 10px;
}

.week-day__event-name {
    margin-right: 5px;
}

.week-day__add {
    display: flex;
    margin: auto auto 10px;
    width: calc(100% - 20px);
    justify-content: center;
    align-items: center;
}

.week-day__add i {
    margin-right: 5px;
}

.calendar-actions {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 15px;
}

.calendar-actions__btn {
    margin-right: 5px;;
}

.calendar-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 25px;
}

.calendar-actions__current {
    width: 150px;
}

.calendar-select {
    font-size: 16px;
    margin-left: 15px;
    width: 120px;
    display: inline-block;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 1.75rem 0.375rem 0.75rem;
    line-height: 1.5;
    color: #495057;
    vertical-align: middle;
    background: #fff url(data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E) no-repeat right 0.75rem center;
    background-size: 8px 10px;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

@media (max-width: 768px) {
    .calendar {
        margin-bottom: 25px;
    }

    .calendar-title {
        flex-direction: column;
    }

    .calendar-select {
        margin-left: 0;
        margin-top: 10px;
    }

    .calendar-actions__btn {
        margin-top: 10px;
    }

    .calendar {
        flex-direction: column;
        border-bottom: 1px solid rgba(0, 0, 0, 0.176);
    }

    .week-day {
        border-left: 1px solid rgba(0, 0, 0, 0.176);
        width: 100%;
    }

    .empty {
        display: none;
    }
}
