body, html {
  overflow-x: hidden;
}

.app {
  background: rgba(94, 110, 130, .15);
}

.sidebar {
  background-color: transparent;
  background: transparent;
}

@media (min-width: 768px) {
  .sidebar {
    height: calc(100vh - 56px);
  }
}

.list-group, .list-group-item {
  background: transparent;
  border: none;
}

.content {
  background: #fff;
}

@media (min-width: 768px) {
  .content {
    background: #fff;
    height: calc(100vh - 56px);
    overflow-y: auto;
  }
}

.list-group-item i {
  width: 18px;
}
